@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Muli:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
:root {
  /*Aqui declaro variaveis de acesso a fontes*/
  --font-primary: "Baloo da 2", serif;
  --font-secundary: "Josefin Slab", serif;
  --font-action: "Muli", serif;
}
html{
  scroll-behavior: smooth;
}
.hamburguer {
  /*botão lateral que aciona meu sidebar*/
  width: 2rem;
  height: 2rem;
  position: fixed;
  z-index: 110;
  right: 2rem;
  top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
}
.show-menu .hamburguer {
  /*Estilo assim que evento é chamado no JS*/
  right: 16rem;
}

.line {
  /*formatação do botão de Hamburguer*/
  width: 100%;
  height: 0.1rem;
  background-color: #fff;
  box-shadow: 0.1rem 0.1rem 1px #000;
  transition: transform 1s;
}
.show-menu #line1 {
  /*Estilo assim que evento é chamado no JS*/
  transform: rotate(45deg) translate(0.3rem, 0.45rem);
}
.show-menu #line2 {
  /*Estilo assim que evento é chamado no JS*/
  opacity: 0;
  visibility: hidden;
}
.show-menu #line3 {
  /*Estilo assim que evento é chamado no JS*/
  transform: rotate(-45deg) translate(0.3rem, -0.45rem);
}
.hamburguer span {
  /*Formatação de span*/
  position: absolute;
  left: 3rem;
  height: 2rem;
  width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4a00e0;
  color: #fff;
  font-family: var(--font-action);
  opacity: 0;
}
.hamburguer span::before {
  /*Usando um before coloco um pseudo elemento em sua frente para dar impressão de seta apontando para o x*/
  content: "";
  position: absolute;
  border-right: 0.5rem solid #4a00e0;
  border-left: 0.5rem solid transparent;
  border-top: 0.5rem solid transparent;
  border-bottom: 0.5rem solid transparent;
  left: -1rem;
}
.show-menu .hamburguer:hover span {
  /*Estilo assim que evento é chamado no JS*/
  opacity: 1;
}
header {
  width: 100%;
  height: 100vh; /* Altura de View do dispositivo*/
  overflow: hidden;
  position: relative;
}

.img-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Encapsula para não perder a proporção*/
  opacity: 0.5;
  animation: zoom 25s; /*Chamando animação*/
}

@keyframes zoom {
  /*Animação que foi chamada na img acima*/
  0% {
    transform: scale(1.3); /* Primeira posição da animação*/
  }
  100% {
    transform: scale(1); /* Segundo ponto da animação zoom*/
  }
}
.banner {
  position: absolute; /*Para este posicionamento funcionar precisa estar  dentro de um relativo (o cabeçalho neste caso)*/
  top: 30%;
  left: 15%;
}

.banner h1 {
  color: #fff;
  font-size: 3.5em; /* Unidade relativa ao elemento Pai neste caso herdando o padrão do navegador 16 px */
  font-family: var(--font-primary);
  font-weight: 300;
  text-shadow: 0.2rem 0.3rem 2px rgba(0, 0, 0, 0.4);
  line-height: 3.5rem;
  margin-bottom: 2rem;
  opacity: 0;
  animation: movebanner 1s 0.5s forwards;
}
@keyframes movebanner {
  /*Efeito aplicado no H1,p e button do banner*/
  0% {
    transform: translateY(10rem) rotateY(-30deg);
  }
  100% {
    transform: translateY(0) rotateY(0);
    opacity: 1;
  }
}
.sidebar {
  /*Formatação do menu Lateral*/
  width: 20rem;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: -20rem;
  transition: all 1s;
  z-index: 100;
}
.show-menu .sidebar {
  /*Estilo assim que evento é chamado no JS*/
  right: 0;
}
.menu {
  /*formatação da lista dentro do meu menu*/
  position: absolute;
  top: 30%;
  left: 35%;
  transform: translate(-50%, -%50);
}
.menu-item {
  text-align: center;
  margin-bottom: 0.5rem;
}
.menu-link {
  font-family: var(--font-action);
  color: #555;
  font-size: 1.5rem;
}
.menu-link:hover {
  color: #4a00e0;
  border-bottom: solid 3px #8e2de2;
  margin-bottom: 1.5rem;
  transition: color 1s;
}
.social-media {
  position: absolute;
  bottom: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.social-media i {
  color: #4a00e0;
  height: 3rem;
  width: 3rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 1s;
}

.social-media i:hover {
  color: #8e2de2;
}
.banner p {
  color: #fff;
  font-family: var(--font-secundary);
  font-size: 2rem;
  text-shadow: 0.2rem 0.2rem rgba(0, 0, 0, 0.4);
  margin-bottom: 2rem;
  opacity: 0;
  animation: movebanner 1s 0.7s forwards;
}
.banner button {
  font-family: var(--font-action);
  color: #fff;
  background: #8e2de2;
  background: -webkit-linear-gradient(to right, #4a00e0, #8e2de2);
  background: linear-gradient(to right, #4a00e0, #8e2de2);
  padding: 1rem 4rem;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  cursor: pointer;
  opacity: 0;
  animation: movebanner 1s 0.9s forwards;
}
.banner button:hover {
  color: #000;
}
.conhecimentos {/*Posicionamento dos conhecimentos*/
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(6, 6rem);
  row-gap: 0.5rem;
}
.conhecimento:nth-child(1) {/* Aqui seleciono qual conhecimento irei formatar*/
  grid-column: 4 / 7;
  grid-row: 1 / 3;
}
.conhecimento:nth-child(2) {
  grid-column: 3 / 6;
  grid-row: 3 / 5;
}
.conhecimento:nth-child(3) {
  grid-column: 4 / 7;
  grid-row: 5 / -1;
}
.conhecimento:nth-child(4) {
  grid-column: 11 / 14;
  grid-row: 1 / 3;
}
.conhecimento:nth-child(5) {
  grid-column: 12 / 15;
  grid-row: 3 / 5;
}
.conhecimento:nth-child(6) {
  grid-column: 11 / 14;
  grid-row: 5 / -1;
}
.sessao-header {/*Formatação do cabeçalho da sessão de cabeçalho*/
  display: flex;
  justify-content: center;
  align-items: center;
}
.sessao-header h1 {
  font-family: var(--font-primary);
  font-size: 3rem;
  color: #4b4b4b;
  border-bottom: solid 3px #8e2de2;
  margin-bottom: 1.5rem;
}
.conhecimento-header {/*Formatação do cabeçalho de cada conhecimento*/
  display: flex;
  align-items: center;
  color: #4b4b4b;
}
.conhecimento-header i { /*Formatação do icone da Tecnologia*/
  font-size: 2.5rem;
}
.conhecimento-header h3 {
  font-family: var(--font-secundary);
  font-size: 2rem;
  padding-left: 1rem;
}
.conhecimento-text {
  font-family: var(--font-secundary);
  margin-top: 1rem;
}
.conhecimentos-img-wrapper {/*Posicionamento e definição de largura com base na classe Wrapper da mesma*/
  grid-column: 7 / 11;
  grid-row: 2 / 6;
  width: 100%;
}
.conhecimentos-img-wrapper img {/*Encapsulamento da imagem para ela não deixar de ser wrapper*/
  object-fit: cover;
  width: 100%;
}
.projetos{
  display: flex;/*Alinhando um ao lado do outro*/
  justify-content: space-evenly;/* Espaçando de forma aleatória*/

}
.card{
  width: 20rem;
  height: 30rem;
  position: relative;/*Card é Pai, então por isso é relativo pois o filho irá precisar depois.*/
}
.card-img-wrapper {/**/
  width: 100%;
  height: 100%;
  background-color:#4a00e0;
  border-radius: .5rem;
}
.card-img-wrapper img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: .5rem;
  opacity: .9;
  transition: .3s;
}
.card:hover .card-img-wrapper{
  opacity: .7;

}
.card-info{
  position:absolute;
  bottom: 0;
  text-shadow: 0.1 0.8rem 0.5rem rgba(0, 0, 0, 0.4);
  padding: 2rem;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
  
}
.card-info h2{
  font-family:var(--font-primary);
  font-size: 2rem;
  font-weight: 500;
  color: #eee;
}
.card-info h3{
  font-family: var(--font-secundary);
  font-size: 1rem;
  color:#ff4081;
  font-weight: bolder;
  margin-bottom: .6rem;
}
.card-info p{
  font-family: var(--font-secundary);
  color: #eee;
  font-weight: bold;
  line-height: 1.1rem;
  margin-bottom: .6rem;
}
.btn{/*Aqui criei uma classe btn para não  precisar reescrever código para botões*/
  background: #8e2de2;
  background: -webkit-linear-gradient(to right, #4a00e0, #8e2de2);
  background: linear-gradient(to right, #4a00e0, #8e2de2);
  font-family: var(--font-action);
  color: #eee;
  border-radius: .5rem;
  box-shadow: 0 .1rem .8rem rgba(0, 0, 0, 0.4);
  border: none;
  cursor: pointer;
  font-size: 1rem;
}
.card-info .btn{
  width: 8rem;
  height: 2.5rem;
}
.card:hover .card-info{
  bottom: 2rem;
  opacity: 1;
  visibility: visible;
}
.card-info .btn:hover{
  color: #000;
}
.sessao-contato{
  width: 100%;
  height: 100vh;
  background-color:#272727;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.contato-wrapper{
  width: 60%;
  display: flex;
  height: 30rem;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.5);
}
.contato-left{
  width: 35%;
  background: linear-gradient(rgba(15, 15, 15, 0.6), rgba(22, 22, 22, 0.9)),
  url(imagens/contato.jpg);
  background-size: cover;
}
.contato-right {
  width: 65%;
  background-color: #eee;
  padding: 1rem 3rem 3rem 3rem;
}
.sessao-contato h1{
  font-family: var(--font-primary);
  color: #272727;
  font-size: 3rem;
  font-weight: lighter;
  width: 100%;
  text-align: center;
}
.sessao-contato form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-group{
  position: relative;
}
.field{
  background:transparent;
  border: none;
  width: 20rem;
  font-size: 1.5rem;
  font-family: var(--font-secundary);
  border-bottom: 2px dashed #636363;
  height: 3rem;
  outline: none;
  margin: 1rem 0;
}
.input-group textarea{
  padding-top: 1rem;
  max-height: 3rem;
  max-width: 25rem;
}
.field-label{
  position: absolute;
  left: 0;
  font-family: var(--font-secundary);
  text-transform: uppercase;
  top: 2rem;
  font-size: 1rem;
  transition: all 0.3s;
}
.field:focus ~ label{/*Quando o campo estiver em foco o label a seguir adere a este estilo*/
  top: 0;
  font-size: 0.7rem;
}
.field:focus{
    border-bottom: 1px solid;
}
.btn-submit{
  width:80%;
  height: 2.5rem;
  text-transform: uppercase;
  margin-top:1rem ;
  font-size: 1.2rem;
  cursor: pointer;
  text-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.5);
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
}
.btn-submit:hover{
  color: #000;
}
.sessao-orcamento{/*Container de orçamento*/
  width: 100%;
  height: 100vh;
  background: url("./imagens/bg-orcamento.jpg");
  object-fit: cover;
  align-items: center;
  display: flex;
  justify-content: center
  ;
}
.orcamento-wrapper{/*Fundo do form*/
  width: 60%;
  height: 80%;
  background-color: #ffffff99;
  border-radius: 10px;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.5);
  position: relative;
}
.sessao-orcamento h1{/*Estilo do H1 de orçamento*/
  position: absolute;
  top: -2.5rem;
  left: 2rem;
  background: #8e2de2;
  background: -webkit-linear-gradient(to right, #4a00e0, #8e2de2);
  background: linear-gradient(to right, #4a00e0, #8e2de2);
  padding: 0 3rem;
  color: #fff;
  font-family: var(--font-primary);
  font-size: 3rem;
  font-weight: lighter;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.sessao-orcamento form{/*Posicionamento do Form*/
  margin: 4rem;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 2rem;
  row-gap: 2rem;
}
.sessao-orcamento label{
  font-family: var(--font-secundary);
  font-size: 1.5rem;
  font-weight: bold;
}
.sessao-orcamento input[type="number"]{/*Nessa formatação somente o input com tipo number é formatado*/
  font-family: var(--font-secundary);
  width:4rem;
  font-size: 2rem;
  outline: none;
  border-radius: 10px;
  border:none;
  padding: 0.3rem;
}
.btn-orcamento{
  text-transform: uppercase;
  cursor: pointer;
  columns: 2;/*Coloco o btn na colum 2 do grid*/
  padding: 1rem;
}
.btn-orcamento:hover{
  color: #000;
}
footer{
  width: 100%;
  height: 7rem;
  background-color: #17181b;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-content{
  width: 60%;
  display: flex;
  justify-content: space-between;
}
.footer-content p{
  font-family: var(--font-secundary);
  color: #a7a7a7;
  font-size: 1.2rem;
}
.social-list a{
  margin: 0 2rem;
  color: #a7a7a7;
  font-size: 1.3rem;
}
.social-list ul {
  display: flex;
}
#link-topo{
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  width: 3rem;
  height: 3rem;
  background: #8e2de2;
  background: -webkit-linear-gradient(to right, #4a00e0, #8e2de2);
  background: linear-gradient(to right, #4a00e0, #8e2de2);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: .3rem;
  box-shadow: 0 0.1rem 0.6rem #00000009;
}
